Source: libzwaveip
Section: libs
Priority: optional
Maintainer: Andres Calderon <andres.calderon@admobilize.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-io/libzwaveip

Package: libzwaveip
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl-dev, libxml2-dev, libbsd-dev, libncurses5-dev, libavahi-client-dev, avahi-utils
Description: libzwaveip is a library to control Z-Wave devices from your IP network via a Z/IP Gateway

Package: libzwaveip-dev
Section: libdevel
Architecture: any
Depends: libzwaveip  (= ${binary:Version}), libc6-dev | libc-dev, ${misc:Depends}
Description:  libzwaveip is a library to control Z-Wave devices from your IP network via a Z/IP Gateway

